body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1473px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:50px;
  width:2px;
  height:801px;
  overflow:hidden;
}
#u1197_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:801px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u1197_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:904px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:180px;
  height:903px;
}
#u1198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1471px;
  height:51px;
  overflow:hidden;
}
#u1199_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 0.898039215686275);
  background-image:none;
}
#u1199_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1199_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(52, 152, 219, 1);
  background-image:none;
}
#u1199_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1199_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(237, 110, 77, 1);
  background-image:none;
}
#u1199_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1199_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 187, 61, 1);
  background-image:none;
}
#u1199_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1199_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 122, 179, 1);
  background-image:none;
}
#u1199_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1199_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(154, 208, 185, 1);
  background-image:none;
}
#u1199_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1199_state6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(234, 148, 190, 1);
  background-image:none;
}
#u1199_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1199_state7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(193, 55, 74, 1);
  background-image:none;
}
#u1199_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:1367px;
  height:3px;
  overflow:hidden;
}
#u1200_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:3px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u1200_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:49px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u1201_img.selected {
}
#u1201.selected {
}
#u1201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:109px;
  width:1292px;
  height:2px;
  overflow:hidden;
}
#u1202_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u1202_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:903px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:50px;
  width:1px;
  height:902px;
}
#u1203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:901px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:51px;
  width:1291px;
  height:900px;
}
#u1204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1206_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:1158px;
  height:51px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:223px;
  width:1147px;
  height:40px;
}
#u1206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:233px;
  width:20px;
  height:20px;
}
#u1207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:234px;
  width:30px;
  height:18px;
  color:#145CCD;
}
#u1208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:234px;
  width:30px;
  height:18px;
  color:#000000;
}
#u1209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:234px;
  width:44px;
  height:18px;
  color:#145CCD;
}
#u1210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:234px;
  width:44px;
  height:18px;
  color:#003399;
}
#u1211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:190px;
  width:1px;
  height:19px;
  font-size:15px;
}
#u1212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:1301px;
  top:191px;
  width:52px;
  height:18px;
}
#u1213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:33px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:134px;
  width:212px;
  height:32px;
}
#u1214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:139px;
  height:40px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:52px;
  width:128px;
  height:29px;
}
#u1216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:1131px;
  top:60px;
  width:59px;
  height:18px;
}
#u1217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:8px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:63px;
  width:16px;
  height:7px;
}
#u1218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:98px;
  height:40px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:1268px;
  top:52px;
  width:87px;
  height:29px;
}
#u1220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:1283px;
  top:60px;
  width:30px;
  height:18px;
}
#u1221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:8px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:63px;
  width:16px;
  height:7px;
}
#u1222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:1301px;
  top:397px;
  width:52px;
  height:18px;
}
#u1223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:1413px;
  top:9px;
  width:33px;
  height:33px;
}
#u1225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:27px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:1419px;
  top:16px;
  width:21px;
  height:26px;
}
#u1226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:1px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1228_img.mouseOver {
}
#u1228.mouseOver {
}
#u1228_img.selected {
}
#u1228.selected {
}
#u1228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u1229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:1px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1229_img.mouseOver {
}
#u1229.mouseOver {
}
#u1229_img.selected {
}
#u1229.selected {
}
#u1229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u1230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:1px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1230_img.mouseOver {
}
#u1230.mouseOver {
}
#u1230_img.selected {
}
#u1230.selected {
}
#u1230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u1231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:1px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1231_img.mouseOver {
}
#u1231.mouseOver {
}
#u1231_img.selected {
}
#u1231.selected {
}
#u1231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u1232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:1px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1232_img.mouseOver {
}
#u1232.mouseOver {
}
#u1232_img.selected {
}
#u1232.selected {
}
#u1232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u1233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:1px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1233_img.mouseOver {
}
#u1233.mouseOver {
}
#u1233_img.selected {
}
#u1233.selected {
}
#u1233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u1234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:1px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1234_img.mouseOver {
}
#u1234.mouseOver {
}
#u1234_img.selected {
}
#u1234.selected {
}
#u1234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u1235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:1px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1235_img.mouseOver {
}
#u1235.mouseOver {
}
#u1235_img.selected {
}
#u1235.selected {
}
#u1235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:96px;
  width:62px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u1236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:152px;
  width:30px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:152px;
  width:38px;
  height:18px;
  color:#666666;
}
#u1240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:152px;
  width:15px;
  height:18px;
  color:#666666;
}
#u1241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:152px;
  width:44px;
  height:18px;
  color:#3366CC;
}
#u1243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:152px;
  width:38px;
  height:18px;
  color:#666666;
}
#u1244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:152px;
  width:15px;
  height:18px;
  color:#666666;
}
#u1245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:152px;
  width:44px;
  height:18px;
  color:#3366CC;
}
#u1247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:152px;
  width:38px;
  height:18px;
  color:#666666;
}
#u1248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:152px;
  width:15px;
  height:18px;
  color:#666666;
}
#u1249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:152px;
  width:30px;
  height:18px;
  color:#3366CC;
}
#u1251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:152px;
  width:38px;
  height:18px;
  color:#666666;
}
#u1252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:152px;
  width:15px;
  height:18px;
  color:#666666;
}
#u1253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:152px;
  width:44px;
  height:18px;
  color:#3366CC;
}
#u1255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:152px;
  width:38px;
  height:18px;
  color:#666666;
}
#u1256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:87px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1258_img.mouseOver {
}
#u1258.mouseOver {
}
#u1258_img.selected {
}
#u1258.selected {
}
#u1258_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:101px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1259_img.mouseOver {
}
#u1259.mouseOver {
}
#u1259_img.selected {
}
#u1259.selected {
}
#u1259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:130px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1260_img.mouseOver {
}
#u1260.mouseOver {
}
#u1260_img.selected {
}
#u1260.selected {
}
#u1260_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:144px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1261_img.mouseOver {
}
#u1261.mouseOver {
}
#u1261_img.selected {
}
#u1261.selected {
}
#u1261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:172px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1263_img.mouseOver {
}
#u1263.mouseOver {
}
#u1263_img.selected {
}
#u1263.selected {
}
#u1263_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:186px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1264_img.mouseOver {
}
#u1264.mouseOver {
}
#u1264_img.selected {
}
#u1264.selected {
}
#u1264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:214px;
  width:180px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#353535;
  text-align:left;
}
#u1265_img.mouseOver {
}
#u1265.mouseOver {
}
#u1265_img.selected {
}
#u1265.selected {
}
#u1265_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:257px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1266_img.mouseOver {
}
#u1266.mouseOver {
}
#u1266_img.selected {
}
#u1266.selected {
}
#u1266_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:299px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1267_img.mouseOver {
}
#u1267.mouseOver {
}
#u1267_img.selected {
}
#u1267.selected {
}
#u1267_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:313px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1268_img.mouseOver {
}
#u1268.mouseOver {
}
#u1268_img.selected {
}
#u1268.selected {
}
#u1268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:341px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1269_img.mouseOver {
}
#u1269.mouseOver {
}
#u1269_img.selected {
}
#u1269.selected {
}
#u1269_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:383px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1270_img.mouseOver {
}
#u1270.mouseOver {
}
#u1270_img.selected {
}
#u1270.selected {
}
#u1270_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:46px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:427px;
  width:180px;
  height:45px;
  color:#353535;
  text-align:left;
}
#u1271_img.mouseOver {
}
#u1271.mouseOver {
}
#u1271_img.selected {
}
#u1271.selected {
}
#u1271_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:15px;
  width:132px;
  word-wrap:break-word;
}
#u1272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:228px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1272_img.mouseOver {
}
#u1272.mouseOver {
}
#u1272_img.selected {
}
#u1272.selected {
}
#u1272_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:271px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1273_img.mouseOver {
}
#u1273.mouseOver {
}
#u1273_img.selected {
}
#u1273.selected {
}
#u1273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:355px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1274_img.mouseOver {
}
#u1274.mouseOver {
}
#u1274_img.selected {
}
#u1274.selected {
}
#u1274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:397px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1275_img.mouseOver {
}
#u1275.mouseOver {
}
#u1275_img.selected {
}
#u1275.selected {
}
#u1275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:444px;
  width:11px;
  height:11px;
}
#u1276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:1276px;
  top:135px;
  width:77px;
  height:29px;
  font-size:14px;
}
#u1277_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1280_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:102px;
  height:40px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:180px;
  width:91px;
  height:29px;
  font-size:14px;
  text-align:left;
}
#u1280_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:87px;
  word-wrap:break-word;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:30px;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:180px;
  width:15px;
  height:29px;
  font-size:14px;
}
#u1282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:192px;
  width:10px;
  height:5px;
  font-size:14px;
}
#u1283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:180px;
  width:53px;
  height:29px;
  font-size:14px;
}
#u1284_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u1285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:180px;
  width:53px;
  height:29px;
  font-size:14px;
}
#u1285_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1287_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:160px;
  height:40px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:180px;
  width:149px;
  height:29px;
  font-size:14px;
  text-align:left;
}
#u1287_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:30px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:180px;
  width:15px;
  height:29px;
  font-size:14px;
}
#u1289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:192px;
  width:10px;
  height:5px;
  font-size:14px;
}
#u1290_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:180px;
  width:80px;
  height:29px;
  font-size:14px;
}
#u1291_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1293_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:1158px;
  height:87px;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:265px;
  width:1147px;
  height:76px;
}
#u1293_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:286px;
  width:150px;
  height:35px;
}
#u1295_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u1296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:284px;
  width:40px;
  height:39px;
}
#u1296_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:54px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:277px;
  width:387px;
  height:53px;
}
#u1297_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  white-space:nowrap;
}
#u1298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:286px;
  width:59px;
  height:35px;
}
#u1298_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:19px;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:294px;
  width:135px;
  height:18px;
  color:#003399;
}
#u1299_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1301_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:1158px;
  height:51px;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:341px;
  width:1147px;
  height:40px;
}
#u1301_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:351px;
  width:20px;
  height:20px;
}
#u1302_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:352px;
  width:30px;
  height:18px;
  color:#145CCD;
}
#u1303_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:352px;
  width:30px;
  height:18px;
  color:#000000;
}
#u1304_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:352px;
  width:44px;
  height:18px;
  color:#145CCD;
}
#u1305_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:352px;
  width:44px;
  height:18px;
  color:#003399;
}
#u1306_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:397px;
  width:80px;
  height:29px;
  font-size:14px;
}
#u1307_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
